.secret
package-lock.json
node_modules/
build/
secret.js
.DS_Store
cache/
artifacts/
.openzeppelin/
archive-contracts-v0.0.1/
archive-contracts-v0.0.2/
archive-contracts-v0.0.3/
archive-contracts-v0.0.4/
release-v1.0.0/